# Ignore JSON files
*.json

# Ignore executable files
*.exe

*.csv

# Build system
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
*.ninja
.ninja_deps
.ninja_log

# Python
__pycache__/
*.pyc

# Ignore CMakeLists.txt
CMakeLists.txt

# Ignore all HTML files
*.html
